<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Home Page</title>
  <link rel="icon" href="/images/home/round_apartment_black_24dp.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/Main_HomePage.css">
  <!-- <link rel="stylesheet" href="Main_HomePage.css"> -->
</head>

<body style="background: white;">
  <div class="logo" style="color: #00A0AA; background-color: white;">
    <h2>Wevolve</h2>
    <div class="img">
      <img src="/images/home/building.png" height="150px" width="200px">
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #00A0AA;">
    <div class="container-fluid">
      <a class="nav-link" href="/login">LOGIN</a>
      <div class="left">
        <a class="nav-link" id="active" href="#home">HOME</a>
        <a class="nav-link" href="#restaurant">RESTAURANTS</a>
        <a class="nav-link" href="#hospital">HOSPITALS</a>
        <a class="nav-link" href="#school">SCHOOLS</a>
        <a class="nav-link" href="#mall">MALLS</a>
        <a class="nav-link" href="#salon">SALONS</a>
      </div>
    </div>
  </nav>
  <div class="title">
    <h3>Welcome to Wevolve</h3>
  </div>

  <div class="container" id="home">
    <div class="slide-container active">
      <div class="slide">
        <div class="image">
          <img src="/images/home/collov-home-design-4_jQL4JCS98-unsplash.jpg" alt="First Slide">
        </div>
        <div class="content">
          <h3>HOUSES</h3>
          <p>Our society has 1 bhk apartment of 700 square feet, 2 bhk of 1200 square feet and 3bhk of 1500 square feet.
            Stop by today and feel the vibes and become part of a Society that appreciates sophisticated living.</p>
        </div>
      </div>
    </div>
    <div class="slide-container">
      <div class="slide">
        <div class="image">
          <img src="/images/home/nick-wright-21EBXbJ7o1U-unsplash.jpg" alt="Second Slide">
        </div>
        <div class="content">
          <h3>GARDEN</h3>
          <p>The society has a beautiful garden of 10,000 square feet. Fenced plantations of garden which separates our
            society garden from the outside world. In our garden there are beautiful flower mats of various colors and
            bright colors. The lush green grass can be an activity area for playing, relaxing, holding events, cultural
            programs, and so on. Small trees are repeated successively along the internal pathways and along the jogging
            track.</p>
        </div>
      </div>
    </div>
    <div class="slide-container">
      <div class="slide">
        <div class="image">
          <img src="/images/home/jana-heinemann-pVQM6vJg92M-unsplash.jpg" alt="Third Slide">
        </div>
        <div class="content">
          <h3> BATHROOMS</h3>
          <p>Every room is attached with a well designed and spacious bathroom. It contains all the items needed for a
            fully functional bathroom.</p>
        </div>
      </div>
    </div>
    <div class="slide-container">
      <div class="slide">
        <div class="image">
          <img src="/images/home/sidekix-media-8qNuR1lIv_k-unsplash.jpg" alt="Fourth Slide">
        </div>
        <div class="content">
          <h3> HOUSES</h3>
          <p>Our society has 1 bhk apartment of 700 square feet, 2 bhk of 1200 square feet and 3bhk of 1500 square feet.
            Stop by today and feel the vibes and become part of a Society that appreciates sophisticated living.</p>
        </div>
      </div>
    </div>
    <div class="slide-container">
      <div class="slide">
        <div class="image">
          <img src="/images/home/miguel-panahon-GiftNyavtAc-unsplash.jpg" alt="Fifth Slide">
        </div>
        <div class="content">
          <h3> CLUBHOUSE</h3>
          <p>Clubhouse will sure let you unwind the tiredness of a day. It offers a great area to spend weekend hours.
            The society owns 3000 square feet for the Clubhouse. The clubhouse consists of a children's area to the
            library, an area designated for gatherings. There is an open court area right from the tennis courts to the
            basketball courts. Gym equipment is present in the club house.</p>
        </div>
      </div>
    </div>
    <div class="slide-container">
      <div class="slide">
        <div class="image">
          <img src="/images/home/philip-stieber-xIe5ua-f0tk-unsplash.jpg" alt="Sixth Slide">
        </div>
        <div class="content">
          <h3> GARDEN </h3>
          <p>The society has a beautiful garden of 10,000 square feet. Fenced plantations of garden which separates our
            society garden from the outside world. In our garden there are beautiful flower mats of various colors and
            bright colors. The lush green grass can be an activity area for playing, relaxing, holding events, cultural
            programs, and so on. Small trees are repeated successively along the internal pathways and along the jogging
            track.</p>
        </div>
      </div>
    </div>
    <div class="slide-container">
      <div class="slide">
        <div class="image">
          <img src="/images/home/r-architecture-P_0tnQ8hb70-unsplash.jpg" alt="Seventh Slide">
        </div>
        <div class="content">
          <h3> BATHROOMS</h3>
          <p>Every room is attached with a well designed and spacious bathroom. It contains all the items needed for a
            fully functional bathroom.</p>
        </div>
      </div>
    </div>
    <div class="slide-container">
      <div class="slide">
        <div class="image">
          <img src="/images/home/asia-culturecenter-COWf-5ZtZ6w-unsplash.jpg" alt="Eighth Slide">
        </div>
        <div class="content">
          <h3> AUDITORIUM</h3>
          <p>The society has a 5000 square feet auditorium. Large meetings, presentations and different functions take
            place here. It is a designed to accommodate 300-500 people. There is a raised stage and special lighting
            equipment in the auditorium. The sound quality in the Auditorium is outstanding.</p>
        </div>
      </div>
    </div>

    <div id="prev" onclick="prev()">
      << /div>
        <div id="next" onclick="next()">></div>
    </div>
    <script>

      let slides = document.querySelectorAll('.slide-container');
      let index = 0;

      function next() {
        slides[index].classList.remove('active');
        index = (index + 1) % slides.length;
        slides[index].classList.add('active');
      }
      function prev() {
        slides[index].classList.remove('active');
        index = (index - 1 + slides.length) % slides.length;
        slides[index].classList.add('active');
      }

      setInterval(next, 3000);

    </script>



    <section id="restaurant">
      <div class="title_sur">
        <img src="/images/home/outline_restaurant_menu_white_24dp.png" height="30px">
        <p>Restaurants</p>
      </div>
      <div class="card-group">
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/restaurant2.jpg" alt="Image">
          <div class="card-body">
            <h5 class="card-title">Urban Tadka</h5>
            <p class="card-text"><span class="add">Address:</span> 3rd Floor, Food Court, R City Mall, Lal Bahadur Shastri Rd, Ghatkopar West, Mumbai, Maharashtra 400086</p>
          </div>
        </div>
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/restaurant2.jpg" alt="Image">
          <div class="card-body">
            <h5 class="card-title">Bhagat Tarachand</h5>
            <p class="card-text"><span class="add">Address:</span>Shop no 1 & 2 60 feet road, Patel chowk, opp. Naturals Ice cream, Ghatkopar East, Mumbai, Maharashtra 400077</p>

          </div>
        </div>
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/restaurant2.jpg" alt="Image">
          <div class="card-body">
            <h5 class="card-title">91 Rosewood Villa</h5>
            <p class="card-text"><span class="add">Address:</span>R City Mall, Hitchki, Ground Floor, Lal Bahadur Shastri Rd, Ghatkopar West, Mumbai, Maharashtra 400086</p>
          </div>
        </div>
      </div>
    </section>
    <section id="hospital">
      <div class="title_sur">
        <img src="/images/home/outline_local_hospital_white_24dp.png" height="30px">
        <p>Hospitals</p>
      </div>
      <div class="card-group">
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/outline_add_location_black_24dp.png" alt="Image">
          <div class="card-body">
            <h5 class="card-title">MGM Hospital</h5>
            <p class="card-text"><span class="add">Address:</span>Khokani Lane, Opp. Ghatkopar Railway Station, Ghatkopar East, Mumbai, Maharashtra 400077</p>
          </div>
        </div>
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/outline_add_location_black_24dp.png" alt="Image">
          <div class="card-body">
            <h5 class="card-title">Fortis Hospital</h5>
            <p class="card-text"><span class="add">Address:</span> Premises No. 7,1st Floor, Neelkanth Market CHSL, Plot No. 76 A M. G. Road, Ghatkopar East, Mumbai, Maharashtra 400077</p>
          </div>
        </div>
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/outline_add_location_black_24dp.png" alt="Image">
          <div class="card-body">
            <h5 class="card-title">Apollo Hospital</h5>
            <p class="card-text"><span class="add">Address:</span>asher school, M G Road Ghatkopar east near Ramji, Main Road, Mumbai, Maharashtra 400077</p>
          </div>
        </div>
      </div>
    </section>
    <section id="school">
      <div class="title_sur">
        <img src="/images/home/outline_school_white_24dp.png" height="30px">
        <p>Schools</p>
      </div>
      <div class="card-group">
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/school-building-icon.png" alt="Image">
          <div class="card-body">
            <h5 class="card-title">Garodia International school</h5>
            <p class="card-text"><span class="add">Address:</span> 55, 90 Feet Rd, Garodia Nagar, Ghatkopar East, Mumbai, Maharashtra 400077</p>
          </div>
        </div>
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/school-building-icon.png" alt="Image">
          <div class="card-body">
            <h5 class="card-title">KJ Somaiya College</h5>
            <p class="card-text"><span class="add">Address:</span> Sector 7, Ghatkopar, Maharashtra 400706</p>
          </div>
        </div>
        <div class="card text-center">
          <img class="card-img-top" src="/images/home/school-building-icon.png" alt="Image">
          <div class="card-body">
            <h5 class="card-title">The Universal School, Ghatkopar</h5>
            <p class="card-text"><span class="add">Address:</span>Plot No, 17, Tilak Rd, near Lion’s Garden, Sindhu Wadi, Ghatkopar East, Mumbai, Maharashtra 400077</p>
          </div>
        </div>
      </div>
  </div>
  </section>
  <section id="mall">
    <div class="title_sur">
      <img src="/images/home/outline_local_mall_white_24dp.png" height="30px">
      <p>Malls</p>
    </div>
    <div class="card-group">
      <div class="card text-center">
        <img class="card-img-top" src="/images/home/mall.jpg" alt="Image">
        <div class="card-body">
          <h5 class="card-title">R-City Mall</h5>
          <p class="card-text"><span class="add">Address:</span>Lal Bahadur Shastri Rd, Amrut Nagar, Ghatkopar West, Mumbai, Maharashtra 400086</p>
        </div>
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="/images/home/mall.jpg" alt="Image">
        <div class="card-body">
          <h5 class="card-title">R-odean Mall</h5>
          <p class="card-text"><span class="add">Address:</span>194, Ramnarayan Narkar Marg, MHADA Colony, Pant Nagar, Ghatkopar East, Mumbai, Maharashtra 400077</p>
        </div>
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="/images/home/mall.jpg" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Phoenix Marketcity, Mumbai</h5>
          <p class="card-text"><span class="add">Address:</span> Lal Bahadur Shastri Rd, Patelwadi.Kurla, Kamani, Kurla West, Kurla, Mumbai, Maharashtra 400070</p>
        </div>
      </div>
    </div>
  </section>
  <section id="salon">
    <div class="title_sur">
      <img src="/images/home/salon.png" height="30px">
      <p>Salons</p>
    </div>
    <div class="card-group">
      <div class="card text-center">
        <img class="card-img-top" src="/images/home/salon1.png" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Kayzills Ladies Beauty Salon</h5>
          <p class="card-text"><span class="add">Address:</span> Shop No 7 Plot No 109 Raj Uday Cooperative Housing
            Society, Sector 1, Sanpada, Ghatkopar, Maharashtra 400705</p>
        </div>
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="/images/home/salon1.png" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Studio 13</h5>
          <p class="card-text"><span id="add">Address:</span>Shop no 20 Moraj Residency, next to Axis Bank, Sanpada,
            Ghatkopar, Maharashtra 400705</p>
        </div>
      </div>
      <div class="card text-center">
        <img class="card-img-top" src="/images/home/salon1.png" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Style Salon</h5>
          <p class="card-text"><span class="add">Address:</span>Shop No. 15, Vashi Station, Shiv Mandir Complex, Palm
            Beach Rd, Sector 13, Sanpada, Ghatkopar, Maharashtra 400705</p>
        </div>
      </div>
    </div>
  </section>
  <div class="map-container">
    <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 100%">
      <iframe src="https://www.google.com/maps/d/embed?mid=1YQCAVElqnFK5IDq_FigIwHQUjGM&hl=en&ehbc=2E312F"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="address">
      <h3>Address</h3>
      <p>KJSCE, Vidyavihar 400077</p>
    </div>
  </div>
  <footer>
    <div class="card" id="pagefooter">
      <div class="card-body" id="footerbody">
        <h1 class="card-title" id="footertitle">Get In Touch</h1>
        <p class="card-text" id="footertext">To learn more and for further enquiries</p>
        <h4><a href="#">Click Here</a></h4>
        <div class="footerimg">
          <img src="/images/home/Up arrow.png" alt="arrow" height="40px">
        </div>
      </div>
      <div class="card-footer" id="footerend">
        <h5>Contact: +917303209630 </h5>
        <div class="footerimageslogo">
          <a href="#"><img src="/images/home/youtube-logo-.png" height="35px"></a>
          <a href="#"><img src="/images/home/logo-instagram-.png" height="35px"></a>
          <a href="#"><img src="/images/home/logo-twitter-.png" height="35px"></a>
          <a href="#"><img src="/images/home/facebook logo.png" height="35px"></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>




</body>

</html>